{
    "errorLog": {
	"type": "file",
	"path": "$PROJECT/error.log"
    },
    "rewriters": [
	{
	    "id": "dc880521-b94d-11e7-87c2-08002744012d",
	    "rules": [
		{
		    "type": "suffix",
		    "pattern": "html",
		    "result": "text/html"
		}
	    ]
	},
	{
	    "id": "52a7e22a-b94e-11e7-87c2-08002744012d",
	    "default": "utf-8"
	}
    ],
    "ports": [
	{
	    "id": "68a09408-b94d-11e7-87c2-08002744012d",
            "protocol": "http",
	    "family": "inet",
	    "port": 8080
	}
    ],
    "servers": [
	{
	    "id": "6e6d5fcf-b94d-11e7-87c2-08002744012d",
	    "name": "192.168.56.3",
	    "aliases": [
		{
			"type": "exact",
			"alias": "roar"
		}
	    ],
	    "hasConfigurator": true,
            "ports": [
		"68a09408-b94d-11e7-87c2-08002744012d"
	    ],
            "accessLog": {
		"type": "file",
		"path": "$PROJECT/access.log"
            }
	}
    ],
    "locations": [
	{
	    "id": "8271aca9-b94d-11e7-87c2-08002744012d",
	    "type": "khttpd_file",
	    "server": "6e6d5fcf-b94d-11e7-87c2-08002744012d",
	    "path": "/",
	    "documentRoot": "$PROJECT/docroot",
	    "mimeTypeRules": "dc880521-b94d-11e7-87c2-08002744012d",
	    "charsetRules": "52a7e22a-b94e-11e7-87c2-08002744012d"
	}
    ]
}
