# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Others
*.gcno
*.gcda
*.gcov
.dir-locals.el
cscope.files
cscope.out
modules/khttpd/@
modules/khttpd/machine
modules/khttpd/x86
modules/khttpd/export_syms
modules/khttpd/.depend
modules/khttpd/vnode_if.h
modules/khttpd/vnode_if_newproto.h
modules/khttpd/vnode_if_typedef.h
usr.sbin/khttpd-init/khttpd-init
usr.sbin/khttpd-init/khttpd-init.1.gz
modules/khttpd/commit
modules/khttpd/crypto
modules/khttpd/ddb
test/log/
test/docroot/wordpress/
test/report.xml
usr.sbin/khttpdctl/khttpdctl
usr.sbin/khttpdctl/khttpdctl.debug
usr.sbin/khttpdctl/khttpdctl.full
